# Telegram Bot
BOT_TOKEN=your_bot_token_here
WEBAPP_URL=http://studiofinance.ru

# Server
SERVER_IP=85.235.205.99
PORT=3000

# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=finio
DB_USER=finio_user
DB_PASSWORD=your_password_here

# Admin
ADMIN_EMAIL=your_email@gmail.com
ADMIN_TELEGRAM=@YourTelegram
ADMIN_ID=your_telegram_id
